@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?guk3k5');
  src:  url('../fonts/icomoon.eot?guk3k5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?guk3k5') format('truetype'),
    url('../fonts/icomoon.woff?guk3k5') format('woff'),
    url('../fonts/icomoon.svg?guk3k5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner8:before {
  content: "\e981";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-font-size:before {
  content: "\ea61";
}
.icon-pilcrow:before {
  content: "\ea73";
}
.icon-embed2:before {
  content: "\ea80";
}
