body{ font-family: 'Lato', sans-serif; }

/* Nav */
.navbar{ border-radius: 0; margin-bottom: 0; }
.navbar.navbar-inverse{ background-color: #7761DF; border-color:#7761DF; }
.navbar-inverse .navbar-brand{ color: #FFF; }

/* Elements */
.btn{  text-transform: uppercase; }
.btn-lg{padding: 10px 30px; font-size: 13px;}
.btn i{ margin-right: 3px; display: inline-block; }
.btn.btn-primary, .btn.btn-primary:focus, .btn.btn-primary:active{ border-width: 2px; background-color: #7761DF; border-color: #7761DF; }
.btn.btn-primary:focus{ opacity: 0.8 }
.btn.btn-stroke{ border-color: #7761DF; color: #7761DF; border-width: 2px; }
.btn.btn-stroke:hover,.btn.btn-stroke:focus, .btn.btn-stroke:active{background-color: #FFF;}


.editor{}
.editor .row{}
.editor .row > div:first-child{border-right:solid 1px #DDD;}

/* Preview */
.preview{  padding: 80px 0 150px 0}
.preview .popup{ width: 500px; height: 500px; border-radius: 50%; position: relative; margin: 0 auto; text-align: center;     background: #e8795b; border: solid 4px #FFF; box-shadow: 0 0 0 8px #e8795b;}
.preview .popup .popupWrap{ overflow: hidden; padding: 13% 10%; border-radius: 50%; width: 100%; height: 100%;}
.preview .popup .ele{ position: relative;  border: transparent solid 2px; padding: 8px; z-index: 2;}
.preview .popup .ele:before{ content: ""; display: block; position: absolute; width: 100%; height: 100%; z-index: 1; }
.preview .popup .ele:hover{ border: #222 dashed 2px; }
.preview .popup .ele span.edit{ display: none; position: absolute; right: -15px; top: -15px; font-size: 12px; color: #222; width: 30px; height: 30px; line-height: 30px; font-size: 16px; border-radius: 30px; border: solid 1px #222; background-color: #FFF; cursor: pointer;}
.preview .popup .ele span.edit i{}
.preview .popup .ele:hover span.edit{ display: block; }

/* Popup Elements */
.preview .popup .badge{ background: transparent;border-radius: 0;line-height: normal;}
.preview .popup .badge .badgeWrap{ color: #222; opacity: 1;}
.preview .popup .badge .badgeWrap i{  font-size: 28px; display: inline-block; vertical-align: top; padding-top: 21px;}
.preview .popup .badge .badgeWrap i:first-child{}
.preview .popup .badge .badgeWrap i:nth-child(2){ font-size: 42px; margin: 0 24px; padding: 0;}
.preview .popup .badge .badgeWrap i:last-child{}
.preview .popup .heading{ }
.preview .popup .heading h1{ padding: 0; margin: 0; color: #FFF; font-size: 28px; font-weight: bold; line-height: normal;}
.preview .popup .form{  }
.preview .popup .form .input{  background-color: #FFF; height: 48px;     font-size: 22px; text-align: left; padding: 0 10px; border-radius: 15px;  margin-bottom: 26px; overflow: hidden;}
.preview .popup .form .input .text{ color: #222; opacity: 0.4; line-height: 48px;}
.preview .popup .form .input.rtl{ direction: rtl; text-align: right; }
.preview .popup .form .input.rtl .text{ direction: rtl; }
.preview .popup .form .button{ background-color: #222; color: #FFF; height: 63px; line-height: 63px; border-radius: 15px; font-size: 34px; font-weight: bold; }
.preview .popup .form .button span{ position: relative; z-index: 2; }
.preview .popup .subheading{  }
.preview .popup .subheading p{ margin: 0; font-size: 15px; color: #FFF; }
.preview .popup .popupBg{ position: absolute; z-index: 1; width: 104%; height: 104%; top: -2%; left: -2%;}
.preview .popup .focus-visible{ outline: none; border: dashed 1px #000; direction: rtl; }

/* Sidebar */
.editor .sidebar{ padding-top: 80px; padding-bottom: 40px; max-width: 380px; margin: 0 auto;}
.editor .sidebar .title{ font-size: 19px; text-transform: uppercase; font-weight: normal; border-bottom: solid 1px #DDD; padding-bottom: 15px; margin-bottom: 20px;}
.editor .sidebar .title i{}
.editor .sidebar p {}
.editor .sidebar .code{}
.editor .sidebar .code pre{padding: 20px;}


/* Modal */
.modal-mask { position: fixed; z-index: 9998; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .5); display: table; transition: opacity .3s ease;}
.modal-wrapper { display: table-cell; vertical-align: middle;}
.modal-wrapper .modal-header{ background-color: #7761DF; }
.modal-wrapper .modal-header .modal-title{ color: #FFF; }
.modal-wrapper .modal-header .modal-title i{ margin-right: 3px; }
.modal-wrapper .modal-header .close{ color: #FFF; font-size: 26px; opacity: 0.8; }


/* Color Picker */
.color-picker{}
.color-picker .vc-chrome { position: absolute; top: 35px; right: 0; z-index: 9;}
.color-picker .form-control{}
.color-picker .input-group-addon.color-picker-container{  padding: 0; cursor: pointer; background-color: #FFF;}
.color-picker .current-color { display: inline-block; width: 80px;}
.color-picker .vc-chrome .vc-chrome-hue-wrap{ margin-top: 10px; }
.color-picker .vc-chrome .vc-chrome-alpha-wrap{ display: none; }


/* Rotate */
.rotates {
  -webkit-animation: rotates 2s linear infinite;
  -moz-animation: rotates 2s linear infinite;
  -ms-animation: rotates 2s linear infinite;
  -o-animation: rotates 2s linear infinite;
  animation: rotates 2s linear infinite;
}
@-webkit-keyframes rotates {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotates {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



/* Media Queries */
@media only screen and (max-width: 991px) {
  .preview { padding: 50px 0 50px 0;}
  .editor .row > div:first-child{ border: none; }
  .editor .sidebar{padding-top: 0;max-width: none;}
}





