<template>

	<div class="input-group color-picker" ref="colorpicker">
		<input type="text" class="form-control" autocomplete="none" v-model="colorValue" @focus="showPicker()" @input="updateFromInput" />
		<span class="input-group-addon color-picker-container" :style="{'background-color':colorValue, 'border-color': (colorValue == '#FFFFFF') ? '#CCC' : colorValue  }" @click="togglePicker()">
			<span class="current-color"></span>
			<chrome :value="colors" @input="updateFromPicker" v-if="displayPicker" /></chrome>
		</span>
	</div>
  
</template>

<script>
import { Chrome } from 'vue-color'

export default {
    name: 'colorpicker',
    props: ['color'],
    components: {
        Chrome
    },
    data () {
        return {
			colors: {
				hex: '#000000',
			},
			colorValue: '',
			displayPicker: false,
		}
    },
    mounted() {
    	this.setColor(this.color || '#000000');
    },
    methods: {
		setColor : function(color) {
			this.updateColors(color);
			this.colorValue = color;
		},
		updateColors : function(color) {
			if(color.slice(0, 1) == '#') {
				this.colors = {
					hex: color
				};
			}
			else if(color.slice(0, 4) == 'rgba') {
				var rgba = color.replace(/^rgba?\(|\s+|\)$/g,'').split(','),
					hex = '#' + ((1 << 24) + (parseInt(rgba[0]) << 16) + (parseInt(rgba[1]) << 8) + parseInt(rgba[2])).toString(16).slice(1);
				this.colors = {
					hex: hex,
					a: rgba[3],
				}
			}
		},
		showPicker : function() {
			document.addEventListener('click', this.documentClick);
			this.displayPicker = true;
		},
		hidePicker : function() {
			document.removeEventListener('click', this.documentClick);
			this.displayPicker = false;
		},
		togglePicker : function() {
			this.displayPicker ? this.hidePicker() : this.showPicker();
		},
		updateFromInput : function() {
			this.updateColors(this.colorValue);
		},
		updateFromPicker : function(color) {
			this.colors = color;
			if(color.rgba.a == 1) {
				this.colorValue = color.hex;
			}
			else {
				this.colorValue = 'rgba(' + color.rgba.r + ', ' + color.rgba.g + ', ' + color.rgba.b + ', ' + color.rgba.a + ')';
			}
		},
		documentClick : function(e) {
			var el = this.$refs.colorpicker,
				target = e.target;
			if(el !== target && !el.contains(target)) {
				this.hidePicker()
			}
		}
	},
	watch: {
		colorValue(val) {
			if(val) {
				this.updateColors(val);
				this.$emit('input', val);
				//document.body.style.background = val;
			}
		}
	}
}
</script>


