<template>

    <div class="editor">        
        <div class="container">
            <div class="row">

                <div class="col-md-7">

                    <div class="preview">
                        <div class="popup" v-bind:style="{ 'background-color': options.popup.background, 'border-color': options.popup.border, 'box-shadow': '0 0 0 8px ' + options.popup.background }">
                            <div class="popupWrap" v-show="!request.loading">
                                <div class="ele badge" v-drag @mouseup="mouseUp" data-type="badge" v-bind:style="{ 'transform': options.badge.transform,left:0,right:0,top:0 }">
                                    <div class="badgeWrap" v-bind:style="{ 'color': options.badge.color, 'opacity': options.badge.opacity }">
                                        <i class="icon-star-full"></i>
                                        <i class="icon-star-full"></i>
                                        <i class="icon-star-full"></i>
                                    </div>
                                    <span class="edit" v-on:click="editElement('badge')"><i class="icon-pencil2"></i></span>
                                </div>
                                <!-- / BADGE -->
                                <div class="ele heading" v-drag @mouseup="mouseUp" data-type="heading" v-bind:style="{ 'transform': options.heading.transform,left:0,right:0,top:0 }">
                                    <h1 class="h1" v-bind:style="{ color: options.heading.color }" contenteditable v-text="options.heading.text" @blur="onEdit" @keydown.enter="endEdit">{{options.heading.text}}</h1>

                                    <span class="edit" v-on:click="editElement('heading')"><i class="icon-pencil2"></i></span>
                                </div>
                                <!-- / HEADING -->
                                <div class="ele form" v-drag @mouseup="mouseUp" data-type="form" v-bind:style="{ 'transform': options.form.transform,left:0,right:0,top:0 }">
                                    <div class="input" v-bind:style="{ 'background-color': options.form.input.background}" v-bind:class="{ 'rtl' : options.form.input.dir == 'RTL'  }">
                                        <span class="text" v-bind:style="{ 'color': options.form.input.color}">{{options.form.input.text}}</span>
                                    </div>
                                    <div class="button" v-bind:style="{ 'background-color': options.form.button.background, 'color': options.form.button.color}"><span class="span" contenteditable v-text="options.form.button.text" @blur="onEdit" @keydown.enter="endEdit"></span></div>

                                    <span class="edit" v-on:click="editElement('form')"><i class="icon-pencil2"></i></span>
                                </div>
                                <!-- / FORM -->

                                <div class="ele subheading" v-drag @mouseup="mouseUp" data-type="subheading" v-bind:style="{ 'transform': options.subheading.transform,left:0,right:0,top:0 }">
                                    <p class="p" v-bind:style="{ 'color': options.subheading.color}" contenteditable v-text="options.subheading.text" @blur="onEdit" @keydown.enter="endEdit"></p>

                                    <span class="edit" v-on:click="editElement('subheading')"><i class="icon-pencil2"></i></span>
                                </div>
                                <!-- / SUBHEADING -->
                            </div>

                            <div class="ele popupBg">
                                <span class="edit" v-on:click="editElement('popup')"><i class="icon-pencil2"></i></span>
                            </div>
                        </div>
                        <!-- .popup  -->

                        <div class="note text-center" style="max-width:500px; margin:40px auto 30px auto;">
                            <p><b>Want to edit the popover?</b><br />Just hover on popup and tap/edit the elements like the way you want. </p>
                        </div>

                    </div> 
                    <!-- / .preview -->

                </div>
                <!-- / .col -->


                <div class="col-md-5">
                    <div class="sidebar">

                        <h1 class="title">
                            <i class="icon-cog"></i> Popup Settings
                        </h1>
                        <div>
                            <a class="btn btn-lg btn-primary" href="javascript:" v-on:click="saveOptions()">
                                <i class="icon-checkmark" v-show="!request.save"></i>
                                <i class="icon-spinner2 rotates" v-show="request.save"></i>
                                Save
                            </a>
                            <a class="btn btn-lg btn-default btn-stroke" href="javascript:" v-on:click="restOptions()">
                                <i class="icon-loop2" v-bind:class="{'rotates' : request.reset }"></i> Reset
                            </a>
                        </div>
                        <br />
                        
                        <div class="alert alert-success" role="alert" v-show="request.success">
                          {{request.success}}
                        </div>

                        <br />
                        <h1 class="title">
                            <i class="icon-embed2"></i> Popup Code Snippet
                        </h1>
                        <p>Please copy and paste the code below before the &lt;/body&gt; tag on all your pages you wish the popup to appear.</p>
                        <div class="code">
                            <pre class="code-snippet"><code>&lt;script&gt;!!function(){function f(){var d=h.createElement("script");d.type="text/javascript",d.async=!0,d.src="{{popupPath}}popup.js",d.id="popup_snippet";var c=h.getElementsByTagName("script")[0];c.parentNode.insertBefore(d,c)}var b=window,h=(document),g=function(){g.c(arguments)};b.attachEvent?b.attachEvent("onload",f):b.addEventListener("load",f,!1)}();&lt;/script&gt;</code></pre>
                        </div>
                        
                    </div>
                    
                </div>
                <!-- / .col -->

            </div>
            <!-- / .row -->            
        </div>
        <!-- / .contaier -->

        <modal :showModal="showModal" v-bind:options="options" @hideModal="closeModal" @addOptions="updateOptions"></modal>
        <!-- / MODAL -->

    </div><!-- / .editor -->
  
</template>

<script>
import modal from './modal';
import ApiService from '@/services/api.service';

export default {
    name: 'Editor',
    components: {
        modal
    },
    data () {
        return {
            showModal: null,
            popupPath: process.env.POPUP_ROOT_URI,
            request:{loading:false,save:false,reset:false, success: null },
            options: {
                popup : { },
                badge: { color: "#222", opacity : 1 },
                heading: { "text":"Hello", "color":"red"},
                form:{  
                    input : {},
                    button : {}
                } ,
                subheading:{ "text":"world" }
            }          
        }
    },
    methods : {
        editElement : function ( ele ){
            this.showModal = ele;
        },
        closeModal:function(type){
            this.showModal = null;
        },
        updateOptions:function(type, opt){
            this.options[type] = JSON.parse( JSON.stringify( opt ) );
            this.showModal = null;
        },
        saveOptions:function(){
            this.request.save = true;
            ApiService.saveSettings(this.options).then(response =>{
                console.log("data", response);
                this.options = response.data;
                this.request.save = false;
                this.request.success = "Popup settings saved successfully.";
                setTimeout(() => this.request.success = null, 2000);

            });
        },restOptions:function(){
            this.request.reset = true;
            ApiService.resetSettings().then(response =>{
                this.options = response.data;
                this.request.reset = false;
                this.request.success = "Popup settings are reset to default.";
                setTimeout(() => this.request.success = null, 2000);
            });
        },
        mouseUp:function(event) {
            var type = event.target.getAttribute("data-type")
            if(type && event.target.style.transform){
                this.options[type].transform = event.target.style.transform;
                console.log("this.options[type]",this.options[type])
            }
        },
        onEdit(event){
            var text = event.target.innerText;
            switch (event.target.tagName) {
                case "H1":
                    this.options.heading.text = text;
                    break;
                case "SPAN":
                    this.options.form.button.text = text;
                    break;
                case "P":
                    this.options.subheading.text = text;
                    break;
                break;
            }
            //this.txt = src;
        },
        endEdit(event){
            var tag = event.target.tagName;
            var select = tag+'.'+tag.toLowerCase();
            this.$el.querySelector(select).blur();
        }
    },
    mounted(){
        this.request.loading = true;
        ApiService.getSettings().then(response =>{
            this.options = response.data;
            this.request.loading = false;
        });

    },
    watch : {
        options(val){
            this.options = val;
        }
    }
}
</script>


