<template>
	<div v-if="modalType">
		<transition name="modal">
			<div class="modal-mask">
				
				<div class="modal-wrapper">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" @click="hideModal('exit');">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title">
									<span v-if="modalType == 'popup'"><i class="icon-droplet"></i> Popup</span>
									<span v-if="modalType == 'badge'"><i class="icon-star-full"></i> Badge</span>
									<span v-if="modalType == 'heading'"><i class="icon-font-size"></i> Heading</span>
									<span v-if="modalType == 'subheading'"><i class="icon-pilcrow"></i> Sub Text</span>
									<span v-if="modalType == 'form'"><i class="icon-file-text"></i> Form</span>
								</h4>
							</div>
							<!-- / MODAL HEADER -->
							<div class="modal-body">
								<section v-if="modalType == 'popup'">
									<form class="form" role="form">
		                                <div class="form-group">
		                                    <label>Background Color</label>
		                                    <colorpicker :color="opt.popup.background" v-model="opt.popup.background" />
		                                </div>
		                                <div class="form-group">
		                                    <label>Border Color</label>
		                                    <colorpicker :color="opt.popup.border" v-model="opt.popup.border" />
		                                </div>
		                            </form>
								</section>
								<!-- / POPUP -->
								<section v-if="modalType == 'badge'">
									<form class="form" role="form">		                               
		                                <div class="form-group">
		                                    <label>Color</label>
		                                    <colorpicker :color="opt.badge.color" v-model="opt.badge.color" />
		                                </div>
		                                <div class="form-group">
		                                    <label>Opacity</label>
		                                    <input type="range" class="slider" min="0.1" max="1.0" step="0.1" value="0.1" v-model="opt.badge.opacity">
		                                    {{opt.badge.opacity * 100}}%
		                                </div>
		                            </form>
								</section>
								<!-- / BADGE -->
								<section v-if="modalType == 'heading'">
									<form class="form" role="form">
		                                <!-- <div class="form-group">
		                                    <label>Text</label>
		                                    <input type="text" class="form-control" autocomplete="none" v-model="opt.heading.text" />
		                                </div> -->

		                                <div class="form-group">
		                                    <label>Text Color</label>
		                                    <colorpicker :color="opt.heading.color" v-model="opt.heading.color" />
		                                </div>
		                            </form>
								</section>
								<!-- / HEADING -->
								<section v-if="modalType == 'subheading'">
									<form class="form" role="form">
		                                <!-- <div class="form-group">
		                                    <label>Text</label>
		                                    <input type="text" class="form-control" autocomplete="none" v-model="opt.subheading.text" />
		                                </div> -->

		                                <div class="form-group">
		                                    <label>Text Color</label>
		                                    <colorpicker :color="opt.subheading.color" v-model="opt.subheading.color" />
		                                </div>
		                            </form>
								</section>
								<!-- / SUB TEXT -->
								<section v-if="modalType == 'form'">
									<form class="form" role="form">
		                                <div class="form-group">
		                                    <label>Input Placeholder</label>
		                                    <input type="text" class="form-control" v-model="opt.form.input.text" style="direction: rtl" />
		                                </div>
		                                <!-- <div class="form-group">
		                                    <label>Input Direction</label>
		                                    <select class="form-control" v-model="opt.form.input.dir">
		                                    	<option value="LTR">LTR</option>
		                                    	<option value="RTL">RTL</option>
		                                    </select>
		                                </div> -->
		                                <div class="form-group">
		                                    <label>Input Background</label>
		                                    <colorpicker :color="opt.form.input.background" v-model="opt.form.input.background" />
		                                </div>
		                                
		                                <!-- <div class="form-group">
		                                    <label>Button Text</label>
		                                    <input type="text" class="form-control" v-model="opt.form.button.text" />
		                                </div> -->
		                                <div class="form-group">
		                                    <label>Button Background Color</label>
		                                    <colorpicker :color="opt.form.button.background" v-model="opt.form.button.background" />
		                                </div>
		                                <div class="form-group">
		                                    <label>Button Text Color</label>
		                                    <colorpicker :color="opt.form.button.color" v-model="opt.form.button.color" />
		                                </div>
		                            </form>
								</section>
								<!-- / FORM -->

							</div>
							<!-- / MODAL BODY -->

							<div class="modal-footer">
								<a href="javascript:" class="btn btn-primary" @click="addOptions(modalType);">Apply</a>
								<a href="javascript:" class="btn btn-default btn-stroke" @click="hideModal('exit');">Cancel</a>
							</div>
							<!-- / MODAL FOOTER -->
						</div>
					</div>
				</div>
				<!-- / .modal-wrapper -->

			</div>
		</transition>
	</div>
  
</template>


<script>
import colorpicker from './colorpicker'

export default {
    name: 'modal',
    components: {
        colorpicker
    },
    props: ['showModal','options'],
    data () {
        return {
			opt:{},
			modalType : null,
			defaultColor: '#EEEEEE',
		}
    },
    mounted() {
    	this.setOptions(this.options, this.modalType);
    },
    methods: {

    	setOptions : function(option, type) {
			this.opt = JSON.parse( JSON.stringify(option) );
			this.modalType = type;
		},

		hideModal : function( type ){
			this.modalType = null;
			this.$emit('hideModal', this.modalType);

			if(type == 'exit'){
				this.opt = JSON.parse( JSON.stringify(this.options) );
			}
		},
		addOptions : function(type){
			console.log("mod t", type, this.opt[type]);
			this.$emit('addOptions', type , this.opt[type] );
			this.hideModal();
		}
		
	},
	watch: {
		showModal (val){
			if(val){
				this.modalType = val;
			}
		},
		options(val){
			this.opt = JSON.parse( JSON.stringify(val));
		}
	}
}
</script>


