<template>
  <div id="app">

  	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
  			<div class="navbar-header">
  				<a class="navbar-brand" href="#">Popup Editor</a>
  			</div>
  		</div>
  	</nav>


    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>
